/* Add your global CSS (i.e., code that is project-specific and not part of any app) here. */

body {
	/* 14px font/20px line height */
/*	font: 16px/22px Allan, "Palatino Linotype";*/
}

h1 { 
	font-family: 'Just Another Hand', arial, serif;
	font-size: 56px;
}

/*#header, #menu, #footer {
	width: 800px;
	margin: auto;
}

.container {
	width: 800px;
}*/

div.register {
	margin-left: 5px;
}

#welcome {
	padding: 10px 10px 11px;
}

div.run {
	border-radius: 10px;
	background: grey;
	margin-bottom: 5px;
	padding: 15px;
}

div.date {
}

div.entry {
	margin-top: 10px;
	float: left;
}

div.entry .map {
	float: left;
	margin-right: 20px;
}


div.entry .rundetail ul {
	list-style-type: none;
}

div.entry .rundetail ul li {
	color: #404040;
	font-size: 1.1em;
}

body a {
	text-decoration: none;
}

#login {
	float: right;
}

#clickme {
  background-color: #eeeeee;
  border: 1px solid black;
  padding: 3px;
}

#footer {
  clear: both;
}

#nike_account_sync {
  background-color: #eeeeee;
  border: 1px solid black;
  padding: 3px;
}
