{% extends 'base.html' %}
{% block title %}Run listing{% endblock %}

{% block content %}
<h1>Run listing</h1>

Last synced: {{last_scrape}} <a href="{% url alsapp.views.get_nike_plus_data %}">Sync now</a>
<a href="{% url alsapp.views.add_poll %}">Create poll</a>

<ul>
  {% for run in object_list %}
    <li>
      <a href="{% url alsapp.views.detail key=run.key %}">{{run.run_time}} {{ run.run_id }}  {{run.distance}}</a>
    </li>
  {% endfor %}
</ul>

<p>
<span id='clickme2'>Click me!</span>
</p>

{% endblock %}
