<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
  <head>
    <title>Website: {% block title %}{% endblock %}</title>
  </head>

  <body>
    <div class="menu">
      <a href="/">Home</a>
      <a href="{% url myapp.views.list_people %}">Generic views sample</a>
      --
      {% if user.is_authenticated %}
        Welcome, {{ user.username }}!
        <a href="{% url django.contrib.auth.views.logout %}">Logout</a>
      {% else %}
        <a href="{% url django.contrib.auth.views.login %}">Login</a>
        <a href="{% url registration.views.register %}">Register</a>
      {% endif %}
    </div>
    <div id="content" class="column">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
